.navbar-item {
    /* 모바일화면에서 검색 부분 select태그와 input태그 가로정렬 */
    display: flex;
}
#search-select {
    margin-right: 8px;
}
#search-input {
    max-width: 240px;
}
.post-list-table-container {
    min-height: 500px;
    margin-top: 30px;
}
.post-list-container {
    width: 80%;
}
.post-list-aligin-center {
    text-align: center;
    margin: auto;
}
.cell-width-8 {
    width: 8%;
}
.cell-width-30 {
    width: 30%;
}
.detail-container {
    width: 90%;
    min-height: 200px;
    margin: auto;
}
.cell-width-15-bold {
    width: 15%;
    font-weight: bold;
}