.post-list-container {
    width: 80%;
}
.post-list-aligin-center {
    text-align: center;
    margin: auto;
}
.cell-width-8 {
    width: 8%;
}
.cell-width-30 {
    width: 30%;
}
.detail-container {
    width: 90%;
    min-height: 200px;
    margin: auto;
}
.cell-width-15-bold {
    width: 15%;
    font-weight: bold;
}